<section class="banner">
  <div class="block-container">
    <video muted loop id="bannerVideo" class="banner__video">
      <source src="../../images/Clouds-Rest-Winter.mp4" type="video/mp4" />
    </video>
    <div class="container">
      <div class="banner__content">
        <p class="banner__content__title">
          There is no other platforms for you as like
        </p>
        <button id="videoBtn" class="btn-video">Pause</button>
        <button class="btn">try now</button>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</section>
