<footer class="ft-container">
  <div class="block-container">
    <div class="container">
      <div class="ft-content">
        <div class="box-address">
          <img src="../../images/logo.png" alt="Logo" />
          <p>
            Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
          </p>
          <p>USA &amp; CAN: 1-888-123-4567</p>
          <p>Address: 34 Brokel Rd. NY</p>
        </div>
        <div class="box-support">
          <h3>Support</h3>
          <p><a href="#" class="box-support__link">Help Center</a></p>
          <p><a href="#" class="box-support__link">Get Started</a></p>
          <p><a href="#" class="box-support__link">Contact US</a></p>
        </div>
        <div class="box-about">
          <h3>About US</h3>
          <p><a href="#" class="box-about__link">About US</a></p>
          <p><a href="#" class="box-about__link">Terms of Use</a></p>
          <p><a href="#" class="box-about__link">Privacy Policy</a></p>
        </div>
        <div class="box-news">
          <h3>Get Newsletters</h3>
          <form class="box-news__form">
            <div class="form-group">
              <input id="email-text" class="box-news__input-text form-input" type="email" placeholder="Email"/>
              <label for="email" class="form-label">Email</label>
            </div>
            <button class="box-news__btn"><i class="fa-regular fa-paper-plane box-news__btn__icon"></i></button>
          </form>
          <div class="social-box">
            <a href="#" class="social-box__link">
              <i class="fa-solid fa-basketball"></i>
            </a>
            <a href="#" class="social-box__link">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="#" class="social-box__link">
              <i class="fa-brands fa-google-plus-g"></i>
            </a>
            <a href="#" class="social-box__link">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</footer>
