@font-face {
  font-family: "Exo Regular";
  src: url('../../fonts/Exo/Exo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Exo Medium";
  src: url('../../fonts/Exo/Exo-Medium.ttf') format('truetype');
}

@font-face {
  font-family: "Exo Thin";
  src: url('../../fonts/Exo/Exo-Thin.ttf') format('truetype');
}