$bg--white-overlay: rgba(255, 255, 255, 0.3);
$bg-overlay: rgba(0, 0, 0, 0.3);
$bg-second: #f6f5f3;
$bg-third: #ff6d6d;
$bg-fourth: #ff8a8a;
$bg-fifth: #323969;
$bg-sixth: rgba(50, 57, 105, 0.7);
$bg-seven: #a6a7aa;
$bg-eight: rgba(246, 245, 243, 0.2);
$bg-nine: rgb(78, 78, 94);
$bg-ten: rgba(141, 141, 141, 0.2);
$bg-eleven: #b8b8bf;

$text-primary: rgba(40, 40, 40, 0.6);
$text-second: rgb(40, 40, 40);
$text-third: #ff6d6d;
$text-fourth: rgba(255, 255, 255, 0.659);
$text-fifth: rgba(246, 245, 243, 0.6);
$white: #ffffff;