$bg--white-overlay: rgba(255, 255, 255, 0.3);
$bg-overlay: rgba(0, 0, 0, 0.3);
$bg-second: #f6f5f3;
$bg-third: #ff6d6d;
$bg-fourth: #323969;

$text-primary: rgba(40, 40, 40, 0.6);
$text-second: rgb(40, 40, 40);
$text-third: #ff6d6d;
$text-fourth: rgba(255, 255, 255, 0.659);
$white: #ffffff;